header.header
  .container
    .header__content
      nav.header__nav
        ul.header__list
          li.header__item
            a(href="#").header__link home
          li.header__item
            a(href="#").header__link portfolio
          li.header__item
            a(href="#").header__link about us
          li.header__item
            a(href="#").header__link contact
