.header
  background-color: #f6f2f2

  &__wrapper
    background-color: #000

  &__nav
    max-width: 480px
    margin: 0 auto

  &__list
    display: flex

  &__link
    color: #ffffff
    display: block
    padding: 39px 24px 29px
    font-weight: bold
    text-transform: uppercase
    transition: background-color 0.3s
    letter-spacing: 1px

    &:hover,
    &:focus
      background-color: #ff3f40

  &__content
    display: flex
    padding: 90px 0 120px

  &__title
    margin-bottom: 16px
    font-family: $font-family-bold
    font-size: 60px
    line-height: 74px
    text-transform: uppercase
    letter-spacing: 1px

  &__spacing
    letter-spacing: 6px

  &__text
    margin-bottom: 53px
    color: #6f6d6d
    font-size: 16px
    line-height: 28px

  &__left,
  &__right
    width: 50%

  &__right
    display: flex
    align-items: center
    justify-content: flex-end

  &__button
    display: block
    width: 225px
    padding: 13px 0
    color: #ffffff
    background-color: #ff2d2d
    border: 1px solid transparent
    border-radius: 5px
    font-size: 18px
    text-align: center
    font-weight: $font-weight-bold
    transition: color 0.3s, background-color 0.3s, border-color 0.3s
    letter-spacing: 1px

    &:hover,
    &:focus
      color: #ff2d2d
      background-color: #ffffff
      border-color: #ff2d2d

  &__video
    position: relative
    display: flex
    align-items: center
    width: 550px
    height: 350px
    box-shadow: 0 0 50px 5px rgba(0,0,0,0.5)
    cursor: pointer

    &:hover,
    &:focus
      opacity: 0.8

  &__play
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: url("play.png")
    background-repeat: no-repeat
    background-position: center
