.header
  background-color: #f6f2f2

  &__content
    background-color: #000

  &__nav
    max-width: 480px
    margin: 0 auto

  &__list
    display: flex

  &__link
    color: #ffffff
    display: block
    padding: 36px 24px
    font-weight: bold
    text-transform: uppercase
    transition: background-color 0.3s

    &:hover,
    &:focus
      background-color: #ff3f40
