.subscribe
  display: flex
  align-items: center
  background-color: #f5f0dd
  height: 512px

  +max-w(1250)
    padding: 0 20px

  +max-w($tablet)
    height: 400px

  +max-w($mobile_lg)
    height: 300px

  +max-w($mobile_sm)
    height: 400px

  &__title
    margin-bottom: 20px
    color: #ffffff
    font-family: $font-family-bold
    font-size: 42px
    text-align: center
    letter-spacing:  1px

    +max-w($tablet)
      font-size: 34px
      line-height: 30px
      margin-bottom: 20px

    +max-w($mobile_lg)
      font-size: 30px

    +max-w($mobile_md)
      font-size: 26px

  &__subtitle
    margin-bottom: 55px
    color: #ffffff
    font-size: 16px
    text-align: center

    +max-w($tablet)
      margin-bottom: 30px

  &__form
    display: flex
    justify-content: center

    +max-w($mobile_sm)
      flex-direction: column

  &__input
    flex-grow: 1
    flex-shrink: 0
    padding: 31px 34px
    color: #8c8c8c
    width: 520px
    margin-right: 22px
    font-size: 16px
    border: none
    border-radius: 10px
    outline: none

    &::placeholder
      color: #8c8c8c
      font-size: 16px

      +max-w($mobile_lg)
        font-size: 15px

    +max-w($mobile_lg)
      width: auto
      padding: 16px 25px
      font-size: 15px

    +max-w($mobile_sm)
      max-width: 100%
      margin-right: 0
      margin-bottom: 30px
      border-radius: 5px

  &__button
    flex-shrink: 0
    flex-grow: 1
    color: #ffffff
    background-color: #ff2d2d
    widht: 214px
    height: 80px
    font-family: $font-family-bold
    font-size: 18px
    text-transform: uppercase
    border: 1px solid transparent
    border-radius: 10px
    cursor: pointer
    transition: color 0.3s, background-color 0.3s, border-color 0.3s

    &:hover,
    &:focus
      color: #ff2d2d
      background-color: #ffffff
      border-color: #ff2d2d

    +max-w($mobile_lg)
      width: auto
      height: 50px
      font-size: 16px

    +max-w($mobile_sm)
      max-width: 100%
      border-radius: 5px
      font-size: 15px



