.subscribe
  .container
    .subscribe__content
      h1.subscribe__title Design tips, tricks, and freebies. Delivered weekly.
      h4.subscribe__subtitle Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.

      form.subscribe__form
        input(type="email" name="email" placeholder="Email Address...").subscribe__input
        button(onclick="return false").subscribe__button subscribe
