extends /layout/app

block content
  .main
    section.main__services
      include ./services/services.pug
    section.main__products
      include ./products/products
    section.main__team
      include ./team/team
    section.main__subsctibe
      include ./subscribe/subsctibe
    //section.main__feedback
    //  include ./feedback/feedback
