extends /layout/app

block content
  .main
    section.main__services
      include ./services/services.pug
    section.main__products
      include ./products/products
    section.main__team
      include ./team/team
