.services
  .container
    .services__content
      .services__left
        h2.services__title do you know we can provide for you ?
        p.services__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.
        a(href="#").services__button Learn More
      .services__right
        .services__item
          img(src="images/services/Settings.png").services__img
          .services__wrapper
            h5.services__subtitle management
            p.services__description Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
        .services__item
          img(src="images/services/Pencil.png").services__img
          .services__wrapper
            h5.services__subtitle UI /UX Design
            p.services__description Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
        .services__item
          img(src="images/services/Diamond.png").services__img
          .services__wrapper
            h5.services__subtitle Logo / Branding
            p.services__description Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
        .services__item
          img(src="images/services/Truck.png").services__img
          .services__wrapper
            h5.services__subtitle animation
            p.services__description Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor

