.team

  &__content

  &__title
    margin-bottom: 20px
    font-family: $font-family-bold
    font-size: 42px
    text-transform: uppercase

  &__text
    position: relative
    width: 460px
    padding-bottom: 31px
    margin-bottom: 70px
    color: #737373
    font-size: 16px
    line-height: 28px

    &::after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      height: 2px
      width: 130px
      background-color: #ff3b3b

  &__wrapper
    display: flex

  &__photo
    width: 360px

  &__left
    width: 30%

  &__right
    width: 70%

  &__subtitle
    margin-bottom: 15px
    font-family: $font-family-semibold
    font-size: 30px
    text-transform: uppercase
    line-height: 51px

  &__subtext
    margin-bottom: 34px
    width: 610px
    color: #737373
    font-size: 16px
    line-height: 28px

  &__social
    display: flex
    margin-bottom: 60px

  &__item
    margin-right: 30px

    &:last-child
      margin-right: 0

  &__link
    display: block
    font-family: $font-family-italic
    font-size: 18px
    text-transform: capitalize
    transition: color 0.3s

    &:hover,
    &:focus
      color: #ff2d2d

  &__images
    display: flex

  &__img
    width: 165px
    height: 215px
    margin-right: 20px

    &:last-child
      margin-right: 0
