.team
  .container
    .team__content
      h1.team__title meet our team
      .team__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.
      .team__wrapper
        .team__left
          .team__photo
            img(src="images/man.jpg")
        .team__right
          .team__subtitle mark waugh
          .team__subtext Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.
          ul.team__social
            li.team__item
              a(href="#" onclick="return false").team__link
                | faceboock
            li.team__item
              a(href="#" onclick="return false").team__link dribble
            li.team__item
              a(href="#" onclick="return false").team__link behance
            li.team__item
              a(href="#" onclick="return false").team__link twitter

          ul.team__images
            li.team__img
              img(src="images/woman.jpg")
              .team__name sokina jue
            li.team__img
              img(src="images/woman.jpg")
              .team__name sokina jue
            li.team__img
              img(src="images/woman.jpg")
              .team__name sokina jue
            li.team__img
              img(src="images/woman.jpg")
              .team__name sokina jue


