.feedback
  .feedback__left
  .feedback__right
    .feedback__contacts
      .feedback__subtitle contact info
      .feedback__contact Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh
      .feedback__contact redwan@deviserweb.com
      .feedback__contact (+88) 017 617 46373
  .feedback__content
    .feedback__wrapper
      .feedback__inner
        h1.feedback__title get in touch
        .feedback__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.
        .feedback__form
          .feedback__part.feedback__part--inline
            input(type="text" placeholder="Name").feedback__input
            input(type="email" placeholder="Your Mail").feedback__input
          .feedback__part.feedback__part--margin
            textarea(placeholder="Type your message").feedback__textarea
          button.feedback__button send message










