.feedback
  .container
    h1.feedback__title get in touch
    .feedback__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.
    .feedback__left
      .feedback__form
        .feedback__part
          input(type="text" placeholder="Name").feedback__input
        .feedback__part
          input(type="email" placeholder="Your Mail").feedback__input
        .feedback__part
          textarea(placeholder="Type your message").feedback__textarea
        button.feedback__buttton send message

    .feedback__right
      .feedback__contact
        .feedback__subtitle contact info
        .feedback__address






