.feedback
  .container
    .feedback__header
      h1.feedback__title get in touch
      .feedback__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.
  .feedback__left
  .feedback__right
    .feedback__contacts
      .feedback__inner-contacts
        .feedback__subtitle contact info
        .feedback__contact Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh
        a(href="mailto:redwan@deviserweb.com").feedback__contact redwan@deviserweb.com
        a(href="tel: +88 017 617 46373").feedback__contact (+88) 017 617 46373
  .feedback__content
    .feedback__wrapper
      .feedback__inner
        form.feedback__form
          .feedback__part
            .feedback__part-wrapper
              input(type="text").feedback__input
              label.feedback__label Name
            .feedback__part-wrapper
              input(type="email").feedback__input
              label.feedback__label You Mail
          .feedback__part.feedback__part--margin
              textarea(placeholder="Type your message").feedback__textarea
          button(onclick="return false").feedback__button send message










