.feedback

  &__title

  &__text
    position: relative
    padding-bottom: 31px

    &::before
      content: ""
      position: absolute
      bottom: 0
      left: 0
      height: 2px
      width: 130px
      background-color: #ff3b3b
