.products
  .container
    .products__content
      h1.products__title feature products
      .products__text Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.
      ul.products__menu
        li.products__item
          a(href="#").products__link all
        li.products__item
          a(href="#").products__link print template
        li.products__item
          a(href="#").products__link web templaate
        li.products__item
          a(href="#").products__link user interface
        li.products__item
          a(href="#").products__link mock-up

      .products__images
        .products__product
          img(src="images/1.png").products__img
        .products__product
          img(src="images/2.png").products__img
        .products__product
          img(src="images/3.png").products__img
        .products__product
          img(src="images/4.png").products__img
        .products__product
          img(src="images/5.png").products__img
        .products__product
          img(src="images/6.png").products__img
        .products__product
          img(src="images/7.png").products__img
        .products__product
          img(src="images/8.png").products__img
