include /blocks/tabs/tab.pug

.products
  .container
    .products__content
      h1.products__title feature products
      .products__text Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.

      ul.products__menu
        li.products__item.active all
        li.products__item print template
        li.products__item web templaate
        li.products__item user interface
        li.products__item mock-up

      -
       var product = [
       {
         image1: 'images/1.png',
         image2: 'images/2.png',
         image3: 'images/3.png',
         image4: 'images/4.png',
         image5: 'images/5.png',
         image6: 'images/6.png',
         image7: 'images/7.png',
         image8: 'images/8.png'
       },
       {
         image1: 'images/1.png',
         image2: 'images/2.png',
         image3: 'images/3.png'
       },
       {
         image4: 'images/4.png',
         image5: 'images/5.png',
         image6: 'images/6.png',
         image7: 'images/7.png'
       },
       {
         image5: 'images/5.png',
         image2: 'images/2.png',
         image7: 'images/7.png'
       },
       {
         image3: 'images/3.png',
         image4: 'images/4.png',
         image8: 'images/8.png'
       }
       ]

      each oneproduct in product
       .products__tab
         +tab(oneproduct)
