.footer
  flex-grow: 0
  flex-shrink: 0
  flex-basis: auto
  background-color: #313030
  height: 110px

  .container
    height: 100%

  &__content
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

  &__list
    display: flex

  &__item
    margin-right: 18px

  &__copyright
    color: #b1b1b1
    font-size: 16px

  &__link
    display: block

    &:hover,
    &:focus
      opacity: 0.7
