footer.footer
  .container
    .footer__content
      .footer__copyright © Copyright @Junaed 2016, All rights reserved.
      .footer__social
        ul.footer__list
          li.footer__item
            a(href="#").footer__link
              img(src="images/shares/twitter.png").footer__img
          li.footer__item
            a(href="#").footer__link
              img(src="images/shares/inst.png").footer__img
          li.footer__item
            a(href="#").footer__link
              img(src="images/shares/google.png").footer__img
          li.footer__item
            a(href="#").footer__link
              img(src="images/shares/facebook.png").footer__img


